<!-- <spinner name="spinner">
	<div class="spinner-div">
		<div>
			<span>
				<i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i>
			</span>
		</div>
	</div>
</spinner> -->
<div class="theme-base-07">
  <div class="sidebar">
    <div class="container sidebar-sticky">
      <div class="sidebar-about">
        <h1>Blog do Rover</h1>
      </div>
      <ul class="sidebar-nav">
        <li class="sidebar-nav-item"><a href="https://wesleyrover.github.io/w-rover/">Home</a></li>
        <li class="sidebar-nav-item"><i class="fa fa-home fa-fw"></i><a
            href="hhttps://wesleyrover.github.io/w-rover/">Home</a></li>
        <li class="sidebar-nav-item"><i class="fa fa-list fa-fw"></i><a href="">Portuguese</a></li>
        <li class="sidebar-nav-item"><i class="fa fa-list fa-fw"></i><a href="">English</a></li>
        <li class="sidebar-nav-item"><i class="fa fa-user fa-fw"></i><a href="">About</a></li>
      </ul>
      <ul class="sidebar-nav">
        <li class="sidebar-nav-item">
          <a href="https://github.com/wesleyrover/w-rover"><i class="fa fa-github-square fa-3x"></i></a>
          <!-- <a href="https://stackoverflow.com/users/2081868/rafael-brito-gomes"><i class="fa fa-stack-overflow fa-3x"></i></a> -->
          <a href="https://www.linkedin.com/in/wesley-rover-489137a/"><i class="fa fa-linkedin-square fa-3x"></i></a>
          <!-- <a href="https://twitter.com/gomex"><i class="fa fa-twitter-square fa-3x"></i></a>
        <a href="https://www.youtube.com/channel/UCPNrIITPNFFLmcU3VfoKuGQ"><i class="fa fa-youtube-square fa-3x"></i></a> -->
        </li>
      </ul>
      <p>Copyright © 2020 <a href="">License</a><br></p>
    </div>
  </div>
  <div class="content container">
    <div class="posts">
      <div class="post">
        <h1 class="post-title">
          <a href="">Seus heróis estão vivos?</a>
        </h1>
        <span class="post-date">Jun 10, 2020 · 2 minute read · <a
            href="">1 Comment</a>

          <br>
          <a class="label" href="">portugues</a><a class="label"
            href="">herois</a>
        </span>

        Você reconhece eles no seu dia a dia? Aquelas pessoas incríveis, que fazem coisas sensacionais e que você tem
        certeza que o mundo seria bem pior sem essas pessoas.
        Não espere seus heróis morrerem para reconhecer-los, eles estão ai ao seu redor, fazendo a vida de todos um
        lugar melhor, com todo peso de ser um herói, pois é um peso muito grande ser um herói.
        Os heróis choram? Eles caem do céu em seu voo matinal?
        <a href="">Read On →</a>

      </div>
    </div>
  </div>


  <!--<h1>Install Bootstrap 4 in Angular 9 - ItSolutionStuff.com</h1>

   <div class="card">
    <div class="card-header">
      <app-header></app-header>
    </div>
    <div class="card-body">
      <router-outlet></router-outlet> 
    </div>
    <div class="card-footer">
      <app-footer></app-footer>
    </div>
  </div> -->
</div>